# Created by .ignore support plugin (hsz.mobi)
### Maven template
target/
./work/

.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar

### SVN template
.svn/

### Eclipse template
.metadata
.settings/
.project
.classpath

# IntelliJ project files
.idea
*.iml

# Mac
.DS_Store

# Java spring boot appication
application*.yaml
application*.yml
application*.properties
.cache
*.tgz
*.log
